# Ignore everything in this directory
    *
    # Except this file
    !.gitignore
    
# Allow the upload subfolders and their .gitkeep markers
!photos/
!photos/.gitkeep
!videos/
!videos/.gitkeep
!audios/
!audios/.gitkeep

# Allow image files to be uploaded
!photos/*.jpg
!photos/*.jpeg
!photos/*.png